/* $Id: fusion-starter-style-rtl.css 6571 2010-02-25 01:22:28Z chris $ */

/* font styles for hebrew  
changes:

1) readable & standard serif fonts for titles (not times new roman!)
2) give priority to arial (much more readable than tahoma)

(shahar, 29/01/2012)  */
.block-locale ul {
    list-style-type: none;
}


h1, h2, h3, h4,
#site-name,
.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited,
#block-commons_core-3 .content,
#block-boxes-homepage_info_box a.intro-morebutton, 
#block-boxes-homepage_info_box .intro-textblock h3
{
	font-family: Hadassah, David, Narkisim, serif;
}

.shoutbox-msg .shoutbox-post-info span.shoutbox-msg-time,
.calendar-calendar .week-view td,
.calendar-calendar .day-view td,
.block .calendar-calendar .month-view table tr td,
#autocomplete ul li,
#block-boxes-homepage_info_box p,
.view-user-directory .views-field-name,
.search-box-inner input[type=submit]
{
	font-family: Arial, Tahoma, Verdana, sans-serif;
}



/* --- shahar, header fix additions: 2012-02-18 --- */
.view-user-meta {  float: left; }
.header-site-info { position: absolute; }

/* shahar - smaller admin menu, so it fits in small screens */
ul.menu li {
    line-height: 100%;
}



/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
 /* float: right;*/
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  float: right;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  float: right;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  float: right;
}

/* RTL content styles */
.inner fieldset {
	float: right;
}

.inner table {
	float: right;
}

#edit-language-wrapper, #edit-to-wrapper, #edit-translation-wrapper {
    float:none;
}

.search-box {
    float:left;
}
.primary-menu {
    float:right;
}

.header-site-info {
    float:right;
}
.header-region {
    float:left;
}
#logo {
    float:right;
    margin-left:10px;
}

.item-list ul li, .node .inner ul li, .panel-pane .inner ul li, .block .content ul li {
background: transparent url(/sites/all/themes/beehive_origins/images/gray-arrow-left.png) no-repeat 0 4px;
list-style: none;
margin-bottom: 8px;
padding-right: 22px !important;
text-indent: 0;
background-position: top right;
}
.item-list ul li {
padding-right: 0 !important;
}
.content ul.pager li {
background-image: none;
line-height: 1.8em;
margin: 0;
padding: 0;
text-indent: 0;
-moz-border-radius: 5px;
-o-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: orange;
}

.content ul.pager li.first {
background-color: transparent;
}

.views-row-first {
	clear: both;
}

.view-groups-main-listing .view-content .views-field-field-group-image-fid, .view-subgroups-main-listing .view-content .views-field-field-group-image-fid {
float: right;
width: 68px;
margin-left: 10px;
margin-right: 0;
}
#view-id-subgroups_main_listing-page_1 .views-row .views-field-field-group-image-fid, #view-id-groups_my_groups_listing-page_1 .views-row .views-field-field-group-image-fid {
float: right;
}
.views-field-picture {
float: right !important;
margin: 0 0 10px 10px !important;
}

.activity-log-picture {
float: right;
margin-left: 10px;
margin-right: 0;
width: 30px;
}

/*.sidebar-last .block-views .views-field-field-group-image-fid ~ *, .sidebar-last .block-views .views-field-picture ~ *, .sidebar-last .block-views .views-field-field-date-value ~ * {
margin-right: 40px;
}*/

.sidebar-last .block-views .views-field-field-group-image-fid, .sidebar-last .block-views .views-field-picture, .sidebar-last .block-views .views-field-field-date-value {
float: right;
margin-left: 10px;
marging-right: 0;
width: 30px;
}

.block ul, .block ol {
margin-right: 0;
margin-left: 2em;
}

.views-exposed-form .views-exposed-widget {
display: block;
float: right;
margin-left: 4%;
padding: 0;
margin-right: 0;
}
.views-exposed-widgets {
float: right;
margin: 2px 8px 8px 0px;
max-width: 82%;
width: auto;
}

/* blog editor section start */
.inner fieldset {
/*this float:right caused a display bug in Hebrew blog edit (/he/node/add/blog)*/
/*float: right;removed*/
/*making sure it doesn't float from somewhere else*/
float: none;
}

.tagging-curtags-wrapper label {
    background: url("/profiles/drupal_commons/modules/contrib/tagging/tag.png") no-repeat scroll right center transparent;
    display: block;
    margin-right: 5px;
    padding: 0 20px 4px 0;
}
div.vertical-tabs {
margin: 1em 0 1em 0;
}
div.vertical-tabs ul.vertical-tabs-list {
 float: right;
 margin: -1px 0 -1px 0 !important;
}
#tagging-widget-container .tagging-widget-input {
    float: right;
}
#tagging-widget-container .field-suffix {
    float: right;
}
.node-form #tagging-widget-container .description {
    float: right;
}
div.vertical-tabs ul.vertical-tabs-list li.selected {
	border-left-width: 0;
}
/* ordered list margin hack */
.content ol {
    margin-left: 0;
    margin-right: 2em;
}

/* blog editor section end */
.views-exposed-wrapper .views-exposed-widget.views-exposed-submit .form-submit {
margin-top: 0;
max-width: 100%;
width: 60px;
}
.views-exposed-wrapper .views-exposed-widget.views-exposed-submit {
float: right;
margin-right: 8px;
max-width: 14%;
width: auto;
clear: both;
margin-bottom: 4px;
}
.view-user-directory .views-field-name {
clear:both;
}
/* commons facebook module styles */
.facebook-status-media > .user-picture {
float: right;
margin-right: 0;
margin-left: 10px;
}

