/* custom CSS */

body {
  font-size: 16px;
}

li , li li {
 list-style: none;
 list-style-type: disc;

}
ul.menu li ul {
    margin: 0;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
    list-style-image: none;
}
.block ul, ul.menu, .item-list ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
li.collapsed {
    list-style-type: none;
}
li.expanded {
    list-style-image: none;
    list-style-type: none;
   
}

li.leaf {
    list-style-image: none;
    list-style-type: none;
}


a {
    text-decoration: none;
}

/*-------------- Site Width ------------------- */
div.container {
	margin: 0.5em auto;
}
/*-------------- heder ------------------- */

/* hakaveret-links-list */
#block-menu-primary-links{
	width: 375px;
}
#block-menu-menu-authenticated-user,#block-menu-menu-anonymous-user{
	margin-left: 5px;
}
.hakaveret-links-list .content {
  margin: 11px 0 0;
}
/* first level menu */
.hakaveret-links-list li {
  float: left;
  background: url("../images/primary-links-with-down-arrow.gif") no-repeat 50% 21px #f9ab17;
  height: 30px;
  font-size: 12px;
  position: relative;
}
.hakaveret-links-list li.first {
 margin-right: 6px;
}
/*rest for second level li*/

.hakaveret-links-list li li.first {
margin-top: 6px;
 margin-right: 0;
}

.hakaveret-links-list li li.last {
margin-bottom: 15px;
}
.hakaveret-links-list li a {
 color: #fff;
 width: 74px;
 text-align: center;
 padding: 3px;
  display: inline-block;
}
/* scound level menu */
.hakaveret-links-list ul.menu li ul {
    margin: 6px 0 0;   
    display: none;
    position: absolute; 
    z-index: 100;
	box-shadow: 0px 0px 13px -1px #C5B88E;
}
.hakaveret-links-list ul.menu li:hover ul {
  display: block;
}
.hakaveret-links-list li li {
float: none;
margin: 0;
background-image: none;
background: white;
height: 20px;
margin-bottom: 0px;
width: 100px;
}
.hakaveret-links-list li li a {
    display: inline-block;
    width: 80px;
    border: 0px;
    padding: 6px 0 0;
    text-decoration: none;
    color:#5a6b98;
   font-weight: normal;
    text-align: right;
    padding-right: 12px;
    font-size: 13px;
}
.hakaveret-links-list li.first {
    box-shadow: 0 0 2px;
}
.hakaveret-links-list li li.first {
box-shadow: 0px 0px;
}



/*----------- Top menu ---------------- */

/* block-nice_menus-2 */
#block-nice_menus-2 {
  margin-top: 12px;  
}
#block-nice_menus-2 li{
  float: right;  
}

ul.nice-menu li ul{
    border-top: none;
    background: #fff;
    z-index: 10;
    margin: 0;
    padding: 0 0 20px;
}
/*reset the background img */
ul.nice-menu li ,ul.nice-menu li li , ul.nice-menu-down li.menuparent , ul.nice-menu-down li.menuparent {
    background: none;
    border: none;
    list-style: none;
    margin: 5px 0 0;
}
#block-nice_menus-2 ul.nice-menu .menuparent a {
    padding-right: 18px;
    padding-left: 18px;
}
#block-nice_menus-2 ul.nice-menu li a {
    color: #123274;
    border-left: 1px solid #123274 ;
    padding: 5px 18px;
    line-height: 5px;
    font-size: 16px;
}
#block-nice_menus-2 ul.nice-menu li:hover a {
  background: none;
  
}
#block-nice_menus-2 ul.nice-menu li.menuparent li {
    margin: 5px 0;
    border-left: none ;
    display: inline-block;
}
 

#block-nice_menus-2 ul.nice-menu li.last a  {
  border: none;
  padding: 5px 18px 0 0;
}
#block-nice_menus-2 ul.nice-menu li li a  ,#block-nice_menus-2 ul.nice-menu li li.last a{
  border: none;
  padding: 15px 18px 0 0;
}
#block-nice_menus-2.block div.content ul#nice-menu-2.nice-menu li {
    background: none;
}

/*------------ search ------------------*/
.block-search form {
  padding: 0 16px 0 0;
}
 /*------ hide the 'search this site' and the site button  ------*/
#search-block-form  label , #search-block-form .form-submit {
  display: none; 
}

#search-block-form  input {
background: url(/sites/all/themes/blueprint/hakaveret_new_theme/images/search_magnifying_glass.gif) no-repeat 9px 50%;
border: 2px solid #AFAFAF;
width: 253px;
height: 26px;
padding: 0 7px;
}
#search-block-form div.form-item {
    margin-bottom: 0em;
    margin-top: 0em;
}
/*********************************************************************/
/*************************  second header ***********************************/
/*********************************************************************/
#second_header{
width: 100%;
clear: both;
}
#block-menu-menu-sub-header ,#block-menu-menu-sub-header a
{
border: 1px #FAD07C solid;
border-top: 0px;
background: -moz-linear-gradient(top, rgba(253,246,230,1) 0%, rgba(255,255,255,1) 49%, rgba(253,246,230,1) 100%);
 /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%); 
/* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
 /* Opera 11.10+ */
 background: -ms-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
 /* IE10+ */
 background: linear-gradient(to bottom, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
 /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf6e6', endColorstr='#fdf6e6',GradientType=0 );
 /* IE6-9 */
}
#block-menu-menu-sub-header
{
height: 100%;
margin: 0px auto;
width: 950px;
}
#block-menu-menu-sub-header h3
{
display: none;
}

#block-menu-menu-sub-header ul
{
  height: 61px;
}
#block-menu-menu-sub-header ul li
{
margin-left: -4px;
float: left;
}
#block-menu-menu-sub-header a
{
position: relative;
top: 19px;
padding: 21px;
color: #024883;
}
#block-menu-menu-sub-header ul.menu li ul {
margin: 38px 3px 0;
display: none;
position: absolute;
z-index: 100;
}
#block-menu-menu-sub-header ul.menu li:hover ul {
  display: block;
}
#block-menu-menu-sub-header li li {
float: none;
margin: 0;
background-image: none;
background: white;
height: 20px;
margin-bottom: 0px;
width: 100px;
}


/*********************************************************************/
/*************************  CONTENT ***********************************/
/*********************************************************************/

/*center the under content blocks */
.frame {
   margin: 0 auto;
   width: 950px
}
#site_full_width .block-quicktabs {
    clear: both;
    height: 260px;
    margin: 0 0 0px;
}
#site_full_width #block-quicktabs-movies 
{
  height: 520px;
}


/*#site_full_width .block-quicktabs.odd*/ 
#block-quicktabs-about_us,#block-quicktabs-groups
{
    background: #fcf0d8;
}


#site_full_width li{
    float: left;  
    list-style: none;
}

#site_full_width h2 {
  background: url("../images/lozenge-shaped.png") no-repeat scroll right 50% transparent;
    color: #B01919;
    float: right;
    font-size: 24px;
    padding: 0 29px 0 0;
    margin: 0 0 5px;
}
#site_full_width ul.quicktabs_tabs li a{
    font-size: 14px;
    color: #B01919;
    padding: 0 25px 0 0;
}
#site_full_width .quicktabs_main {
    clear: both;
}
#site_full_width  .quicktabs_main  ul li {
    margin: 0 16px 0 0;
}
#site_full_width   ul.quicktabs-style-nostyle li {
    margin: 13px 0 0;
}

#site_full_width  div#quicktabs_container_aboutus.quicktabs_main div.view-content ul li.views-row-3 {
    margin: 0;
}
#site_full_width  .views-field-last-updated{
   background: #9f2772;
   color: #fff;
   height: 25px;
}
#site_full_width  .views-field-last-updated .field-content{
  float: right;
  margin: 4px 10px;
}
#site_full_width  .views-field-last-updated-1 span {
  float: left; 
  margin: -20px  0 0 9px;
  color: #fff;
}

#site_full_width  .views-field-title {
 background: #9f2772;
}
#site_full_width .views-field-title a {
  color: #fff;
}

/********* Front Page boxs staf **********/
/*
#site_full_width .views-field-phpcode {
  height: 54px;
  padding: 5px 7px;
}*/
 

#site_full_width #content-content {
  background: #fff;
  padding: 5px 7px;
}
#site_full_width  .views-field-title span {
 margin: 2px 10px;
 font-weight: bold;
 display: inline-block;
}
#site_full_width .view td {
  overflow: hidden;
}

th, td, caption {
}
/*********************************************************************/
/*************************  RTIGHT ***********************************/
/*********************************************************************/
.span-4 {
    width: 190px;
    margin: 0 0 0 7px;
    
}

/*------------ main manu - icons on the right side ------------------*/
#block-block-23{
	width: 256px;
margin-top: -18px;
}

ul#main_four_menu {
	
}

ul#main_four_menu li {
    margin-left: 10px;
    margin-top: 8px;
    float: right;
    height: 95px;
    width: 95px;
    list-style: none;
    background: url('../images/big-icons.png') no-repeat 50% 0;
}

ul#main_four_menu li#community{ background-position: 50% 18px; } 
ul#main_four_menu li#dreams{ background-position: 50% -69px;  } 
ul#main_four_menu li#education_center{ background-position: 50% -155px;  } 
ul#main_four_menu li#resource_exchange{ background-position: 50% -241px;  } 

ul#menu_icons {
	width: 198px;
	margin-top: 226px;
	margin-left: 1px;
}
ul#menu_icons li{
    list-style: none;
}
ul#menu_icons a{
    float: left;
    height: 30px;
    width: 30px;
    background: url('../images/csg-4fcf427bae163.png') no-repeat 50% 0;
}

ul#menu_icons a#facebook{ background-position: 50% 0px; } 
ul#menu_icons a#twiter{ background-position: 50% -64px;  } 
ul#menu_icons a#rss{ background-position: 50% -33px;  } 
ul#menu_icons a#youtube{ background-position: 50% -96px;  } 
ul#menu_icons a#likeabee_logo {
    margin-left: 7px;
    float: left;
    height: 30px;
    width: 60px;
    list-style: none;
    background: url('../images/likeabee_logo.png') no-repeat 50% 0;
}


/*ul#main_four_menu div {
	 /* webkit example * /
        background-image: -webkit-gradient(
          linear, right top, left top, from(rgba(255, 255, 255, 1.0)),
          to(rgba(255, 255, 255, 0))
        );
        /* mozilla example - FF3.6+ * /
        background-image: -moz-linear-gradient(
          right center,
          rgba(255, 255, 255, 1.0) 5%, rgba(255, 255, 255, 0) 95%
        );
        /* IE 5.5 - 7 * /
        filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=1, startColor=0, endColorStr=#FFFFFF
        );
	*/
         /* IE8 uses -ms-filter for whatever reason... * /
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=1, startColor=0, endColoStr=#FFFFFF
        );
	*/
	/* IE6-IE9 * /
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=0,endColorstr=#FFFFFF
	);
	* /
           -webkit-background-size: 100% 7%;
           -moz-background-size: 100% 7%;
           background-size: 100% 7%;
           background-repeat: no-repeat;
            background-position: 0 100%;  
           
           -webkit-transition: all .7s linear;
           -moz-transition: all .7s linear;
           -o-transition: all .7s linear;
           -ms-transition: all .7s linear;
           transition: all .7s linear;  

}*/
/*ul#main_four_menu div:hover {
     background-position: -100% -102%;
}*/

ul#main_four_menu li a {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 81px 0 0;
    text-align: center;
    width: 100%;
    -webkit-transition: color 0.5s ease-in;
    -moz-transition: color 0.5s ease-in;
    -o-transition: color 0.5s ease-in;
    -ms-transition:color 0.5s ease-in;
    transition: color 0.5s ease-in;
}
/*//////////////*/
#block-menu-menu-menu-tags ul li
{ 
  background-color:#f0ac01;
  width: 220px;
  height: 48px;
  z-index: 23;
  margin-bottom: 10px;
border-top-left-radius: 35px;
border-bottom-left-radius: 35px;
  float: left;
  list-style: none;
  text-align: center;
  box-shadow: 0px 0px 7px  #555353;
 }

/*------------  menu tags - icons on the right side  whithout homepage------------------*/
#block-menu-menu-menu-tags ul li
{ 
  background-color:f0ac00;
  width: 129px;
  height: 44px;
  z-index: 23;
  margin-bottom: 10px;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  float: left;
  list-style: none;
  text-align: left;
 /*text-align: center;*/
 box-shadow: 0px 0px 8px #555353;
 /**/padding-left: 59px;
 }
 #block-menu-menu-menu-tags ul li
{ 
    background-image: url(/sites/all/themes/blueprint/hakaveret_new_theme/images/big-icons.png);
    background-repeat: no-repeat;
    background-size: 42px;
    background-position: -2px 2px;
}
#block-menu-menu-menu-tags a
{ 
  display: inline-block;
  padding-top: 15px;
  color: white;
  font-size: small; 
  font-weight: bolder;
 }
#block-menu-menu-menu-tags li:nth-child(1) { background-position: 1% 101%; } 
#block-menu-menu-menu-tags li:nth-child(2) { background-position:1% 33.5%;  } 
#block-menu-menu-menu-tags li:nth-child(3) { background-position: 1% 67%;  } 
#block-menu-menu-menu-tags li:nth-child(4) { background-position: 2% -1%;  }

#block-menu-menu-menu-tags ul.menu li ul {
    margin: 6px 0 0;   
    display: none;
    position: absolute; 
    z-index: 100;

    
}
#block-menu-menu-menu-tags ul.menu li:hover ul {
  display: block;
}
#block-menu-menu-menu-tags li li {
float: none;
padding: 0;
margin: 0;
background-image: none;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
background: white;
width: 115px;
text-align: right;
padding-right: 16px;
box-shadow: 0px 0px 2px 1.5px #C5BFAF;
border-radius: 2px;
}
#block-menu-menu-menu-tags li li  a {
padding-top: 12px;
padding-bottom: 12px;
text-decoration: none;
color: #888;
}
/*------------ under main manu - icons  ------------------*/

ul#shering {
    clear: both;
}


#shering li {
    background: url('../images/csg-4fcf427bae163.png') no-repeat top left;
    height: 32px;
    width: 32px;
    float: left;
    overflow: hidden;
    margin: 20px 0px 0;
    text-indent: -9999px;
}
#shering li.sprite-facebook{ background-position: 0 0; width: 31px; height: 31px; } 
#shering li.sprite-rss{ background-position: 0 -32px; width: 32px; height: 31px; } 
#shering li.sprite-twiiter{ background-position: 0 -64px; width: 32px; height: 31px; } 
#shering li.sprite-youtube{ background-position: 0 -96px; width: 31px; height: 31px; } 
#shering li.likeabee_logo{
   background: url('../images/likeabee_logo.png') no-repeat 0 0;
   float: right;
   width: 61px;
}


#block-block-25 img
{
width:722;
height:267;
float: right;
margin: -2em 0 0.5em 1.5em;
margin-right: 25px;
}

/*********************************************************************/
/*************************  Fotter ***********************************/
/*********************************************************************/

#footer {
    background: #9f2772;
}
#footer-dot {
    border-top: 1px dashed #FFFFFF;
    display: inline-block;
    margin: 4px 0 0;
    width: 100%;
}


#footer li{
    list-style: none;
    font-size: 13px;
}
#small-icons li {
    background: url('../images/csg-4fd078facf347.png') no-repeat top left;
    margin: 7px 7px 0 ;
    float: left;
    text-indent: -9999px;
}
#small-icons li.sprite-fotter-community{ background-position: 0 0; width: 24px; height: 23px; } 
#small-icons li.sprite-fotter-dream{ background-position: 0 -24px; width: 24px; height: 24px; } 
#small-icons li.sprite-fotter-education_center{ background-position: 0 -49px; width: 24px; height: 24px; } 
#small-icons li.sprite-fottet-resource_exchange{ background-position: 0 -74px; width: 24px; height: 24px; } 

#fotter-menu li {
    float: left;
    margin: 11px 0 0;
}

#fotter-menu li a{
   color: #ffd4ff;
   padding: 0 20px;
   border-right: 1px solid #ffd4ff;
}

#footer #name p {
    color: #FFD4FF;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0 0;
}


/*--- front page slogen ------*/

.front-page-main-n {
  position: relative;
}


.front-page-main-n p , .front-page-main-n img {
 margin: 0;

}

.slogan {
  position: absolute;
  left: 40px;
  top: 24px;
  font-size: 13px;
}
.slogan h1 {
  color: #9f2772;
  font-weight: bold;
  margin: 0;

}
.slogan h1#second {
  font-size: 42px;
}

.view-groups-featured-groups .views-row {
  float: left;
  height: 195px;
  overflow: hidden;
}
.view-groups-featured-groups .views-row-last {
  margin: 0;
}

#site_full_width div.view {
  margin-left:0px;
  margin-right: 0;
  float: left;
}
#site_full_width .colum-last , #site_full_width .col-last {
  margin: 0;
}
.glist-all{ 
}
.glist-all .pane-title {
    background: url("/sites/all/themes/blueprint/hakaveret_new_theme/images/glist-top.png") no-repeat scroll 0 0 transparent;
    color: #004C85;
    font-size: 18px;
    height: 40px;
    margin-bottom: 0;
    padding: 10px 15px 0;
}
.glist-all .view-group-block-members,
.glist-all .g-list {
  background: url("../images/glist-middle.png") repeat-y scroll 0 0 transparent;
}
.glist-all .view-group-block-members .view-content {
  padding: 0 7px;
}
.glist-all table td{
  padding: 5px;
}
.glist-all table {
  margin-bottom: 0;
}
tbody tr:nth-child(2n) td, tbody tr.even td {
  background-color: transparent;
}
.glist-all .g-list-inner {
  padding: 10px 15px;
}
.glist-all .views-field-nothing {
  display: block;
}
.glist-all .view-footer {
        background: url("/sites/all/themes/blueprint/hakaveret_new_theme/images/glist-bottom.png") no-repeat scroll center bottom transparent;
    display: block;
    float: right;
    height: 57px;
    padding: 20px;
    width: 310px;
}
.gl-content-title a{
  color: #AC1A1D;
}
.gl-content-date,
.date-display-single,
.gl-content-author a{
  color:#545454;
  font-size: 12px;
}
.gl-content-body {
  color:#004C85;
}
.pane-group-block-members {
  margin-top: 10px;
}
ul.primary {
  white-space: normal;
}
#mini-panel-group_sidebar h2 {
    color: #034A80;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    padding-right: 13px;
}
#mini-panel-group_sidebar li {
  list-style: none;
}
#mini-panel-group_sidebar a {
  font-size: 13px;
  color: #515151;
}
.pane-group-terms.og-terms h2 {
  background: url("../images/tag-bg.png") no-repeat scroll right 6px transparent;
}
.pane-group-terms.og-other-og h2 {
  background: url('../images/og-icon-bg.png') no-repeat right top;
}
.page-node.og-context .inner-content {
  padding: 0 10px;
  border-right: 1px solid #FCD48C;
  border-left: 1px solid #FCD48C;
}
.node-type-group.page-node.og-context .inner-content {
  padding: 0;
  border: none;
}
.page-node.og-context .inner-content h1 {
  font-size:32px;
  color: #034A80;
}
.page-node.og-context .inner-content .submitted {
  color: #732175;
}
.page-node.og-context .inner-content .content p {
  color: #014A81;
}
#mini-panel-og_context_panel {
  background-color: #FCF0D8;
    padding: 15px;
}
.view-group-name-of-node-content {
      background-color: #FFFFFF;
    border: 10px solid #B1181A;
    padding: 5px;
    margin-bottom: 15px;
}
.view-author-details {
  background-color: #B1181A;
  color: #fff;
  padding-bottom:20px;
}
.view-author-details .views-field-value-2,
.view-author-details .views-field-value-1,
.view-author-details .views-field-value,
.view-author-details .views-field-name {
  padding: 0 20px;
}
#block-menu-menu-external-links ul li{
  display: inline;
}
#block-menu-menu-external-links ul li a {
  display: inline-block;
  height:0;
  width: 30px;
  overflow: hidden;
  padding-top:30px;
}
#block-menu-menu-external-links ul li a.facebook-item {
  background: url('../images/facebook.png') no-repeat;
}
#block-menu-menu-external-links ul li a.twitter-el {
  background: url('../images/twitter.png') no-repeat;
}
#block-menu-menu-external-links ul li a.rss-el {
  background: url('../images/rss.png') no-repeat;
}
#block-menu-menu-external-links ul li a.youtube-el {
  background: url('../images/youtube.png') no-repeat;
}
body.page-node.og-context {
  background: url('../images/gradint.png') repeat-x 0 76px;
}


/*********************************************************************/
/*************************  Learning Center **************************/
/*********************************************************************/
#block-menu-menu-learning-center{
position: absolute;
top: 230px;
left: 440px;
}
#block-menu-menu-learning-center h3{
background: url(/sites/all/themes/blueprint/hakaveret_new_theme/images/lernningCenter_icons.png) no-repeat 241% 1%;
padding-right: 25px;
	color: #024883;
margin-bottom: 9px;
}

#block-menu-menu-learning-center li a{
background: url(/sites/all/themes/blueprint/hakaveret_new_theme/images/lernningCenter_icons.png) no-repeat 116% -15px;
padding-right: 16px;
}
#block-menu-menu-learning-center li a:nth-child(1) { background-position: 50% 18px; } 
#block-menu-menu-learning-center li a:nth-child(2){ background-position: 50% -69px;  } 
#block-menu-menu-learning-center li a:nth-child(3){ background-position: 50% -155px;  } 
#block-menu-menu-learning-center li a:nth-child(4){ background-position: 50% -241px;  } 
#block-menu-menu-learning-center li a:nth-child(5){ background-position: 50% -155px;  } 
#block-menu-menu-learning-center li a:nth-child(6){ background-position: 50% -241px;  } 

#block-quicktabs-new_articles{
height: 440px;
border-bottom: 1px #FAD07C solid;
}
#block-quicktabs-new_articles,.view-learning-center-selected{
	width: 708px;
}
#block-quicktabs-new_articles h3{
	color: #024883;
	margin-bottom: -20px;
}
#block-views-96798b78acdc9e39d155765148f7836b h3 {
	color: #024883;
	margin-bottom: 20px;
}

#quicktabs-new_articles li ,.view-learning-center-selected li{
float: left;
list-style: none;
}
#block-quicktabs-new_articles ul.quicktabs_tabs li{
margin-bottom: 9px;
}

#block-quicktabs-new_articles ul.quicktabs_tabs li a{
  font-size: 14px;
    color: #B01919;
    padding: 0 25px 14px 0;

}
#block-quicktabs-new_articles ul.quicktabs_tabs li.qtab-3{
	position: relative;
	top: 424px;
	left: -283px;
	 background: url(/sites/all/themes/blueprint/hakaveret_new_theme/images/lernningCenter_icons.png) no-repeat 50% 0 white;
}
#quicktabs_container_new_articles{
	width: 900px;
	clear: both;
}
#block-quicktabs-new_articles .views-row, .view-learning-center-selected .views-row{
	float: right;
	margin-left: 24px;
	width: 215px;
	height: 373px;
	border-radius: 4px;
	border: 2px solid #FBD38B;
	box-shadow: 0px 0px 0px 3px #FAE8C7;
}
#block-quicktabs-new_articles .views-row-last,.view-learning-center-selected .views-row-last{
margin-left: 0px;
}
#block-quicktabs-new_articles .views-field-body, .view-learning-center-selected .views-field-body
{
	position: relative;
	right: 17px;
	top: 10px;
	width: 186px;
}

/************************   Devel  ***********************************/
.ui-draggable{
opacity: 0.5;
display: block;
z-index: -100;
position: absolute;
top: 13px;
right: 215px;
}

/********************************************************************/

