/* custom CSS */
.col-right h3,
.col-left h3{
    background-color: #F0DBA4;
    padding: 5px 3px;
    border-top: 1px solid #9EADD8;
    color: #8F5839;
}
body {
    font-size: 15px;
}
.block-views ul {
    margin:0;
}
.block-views ul li {
    list-style: none;
}
.og-subgroups-tree ul {
    margin:0;
}